@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-gray-100;
}

.c-scrollbar_thumb {
  @apply !bg-white;
}


input {
  @apply bg-dark border border-gray-500 rounded outline-none px-3 py-2 focus:border-gray-700 focus:shadow-[0_0_0_4px_#027DFF80] transition duration-300;
}
